/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}
.hero{
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	border:2px solid black;
	box-sizing:border-box;
}
img{
	object-fit:cover;
}

.con_body{
	 margin:auto;
	padding:30px;
} 
.cen{
	text-align:center;
	/* margin-top:5px; */
}

a{
	text-decoration:none;
	padding:7px;
     border:2px solid;
	background-color:pink;
	color:white;
	
	
	
}
p{
	font-size:10px;
	margin-bottom:10px;
}
h1{
	margin:5px;
}

